*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    // box-sizing: border-box;
    
}

body {
    background: rgb(70, 193, 252);
    background: linear-gradient(45deg, rgba(70, 193, 252, 1) 25%, rgba(63, 94, 251, 1) 75%);
    background-repeat: no-repeat;
    min-height: 100vh;
    
}

.search{
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px auto;
    padding-left: 50px;
    #inputCity{
        border: 0;
        height: 40px;
        width: 300px;
        border-radius: 30px;
        font-size: 18px;
        text-align: center;
        background:rgba(211, 211, 211, 0.5);
    }
    .submitBtn{
        height: 40px;
        width: 40px;
        cursor: pointer;
        background: transparent;
        border: 0;
        padding-left: 5px;
    }
    
}

.meteo{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 500px;
    .colGauche{
        text-align: center;
        h1{
            text-transform: capitalize;
        }
        h2{
            font-size: 35px;
        }
        .min-max{
            display: flex;
            justify-content: space-around;
            margin: auto;
            padding: 5px;
            width: 200px;
        }
    }
    .colDroite{
        display: flex;
        align-items: center;
        .city-image{
            width: 250px;
            height: 250px;
            border-radius: 25px;
        }
    }
}

.meteo5j{
    display: flex;
    justify-content: center;
    padding: 30px;
    margin: auto;
    flex-wrap: wrap;
    .day{
        border-radius: 10px;
        background:rgba(211, 211, 211, 0.5);
        width: 150px;
        text-align: center;
        padding: 10px;
        margin: 5px;
        .jourSemaine{
            text-transform: capitalize;
            padding: 2px;
        }
        .prevision{
            padding: 2px;
        }
        .imagePrev{
            width: 115px;
            padding: 2px;
        }
        
    }
}

.imageVille{
    display: flex;
    justify-content: center;
    padding: 25px;
    img{
        width: 200px;
        height: 200px;
        border-radius: 30%;
    }
}